body {
    background:rgb(0,0,0);
}
.content {
  text-align: center;
  background-color: black;
  color: white;
  height:40%;
}
section {
    position: absolute;
    left:50%;
    transform: translate(-50%) ;
    text-align: center;
}
img {
    border-radius: 20px;
}
button {
    background-color: #aa0e7b; 
    color:rgb(241, 238, 241); 
    padding:4px 7px; 
    font-size:15px; 
    border:none; 
    border-radius:5px;
}
input {
    width:150px;
    padding:7px 7px; 
    border:none; 
    border-radius:3px;
    margin-left:10px ;
    text-align: center;
}